div {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../img/RobloxScreenShot20230827_234948741.png);
}